body {background-color:cyan;background-image:url("https://images.pexels.com/photos/531880/pexels-photo-531880.jpeg");background-repeat:no-repeat;}
h1 {color:maroon;margin-left:40px;}
p.n {font-family:serif;font-weight:900;}
p.s {font-size:small;}
p.x {font-family:serif;color:red;font-weight:bold;word-spacing:20px;letter-spacing:20px;text-indent:1cm;direction:rtl;}
p.y {font-size:large;font-weight:bolder;}
